.create-event-page {
  padding: 40px;
}

.create-event-page h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.event-form {
  max-width: 600px;
  background-color: #1f1f1f;
  border: 1px solid #333;
  padding: 30px;
  border-radius: 8px;
}

.event-form input,
.event-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.event-form textarea {
  min-height: 90px;
}

.event-form label {
  font-size: 14px;
  color: #ccc;
}

.event-form button {
  background-color: #4da3ff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  color: black;
}

.event-form button:hover {
  background-color: #3b8fe0;
}
